# Premiership Football Players Salary Analysis

<P>Pete Sime</P>

## Data Scrape

In [4]:
#imports

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [266]:
df_teams =pd.read_csv('data/team_names.csv')
df_teams.shape
df_teams

                              id                     Name
0                afc-bournemouth       Bournemouth A.F.C.
1                   arsenal-f.c.                  Arsenal
2               aston-villa-f.c.              Aston Villa
3                      brentford                Brentford
4         brighton-&-hove-albion   Brighton & Hove Albion
5                   chelsea-f.c.                  Chelsea
6                 crystal-palace           Crystal Palace
7                   everton-f.c.             everton-f.c.
8                         fulham                  Everton
9                   ipswich-town             Ipswich Town
10                leicester-city           Leicester City
11                liverpool-f.c.                Liverpool
12          manchester-city-f.c.          Manchester City
13        manchester-united-f.c.        Manchester United
14         newcastle-united-f.c.         Newcastle United
15             nottingham-forest        Nottingham Forest
16              southampton-f.c.              Southampton
17        tottenham-hotspur-f.c.        Tottenham Hotspur
18          west-ham-united-f.c.          West Ham United
19  wolverhampton-wanderers-f.c.  Wolverhampton Wanderers

In [5]:
def get_sdata(team_ent):
        
    base_url = "https://salarysport.com/football/premier-league/"
    #team_ent = 'aston-villa-f.c.'
    #team_ent = 'a'
    team_name = team_ent.lower()
    rows = []

    if team_name == "a":
        # List of teams when no specific team is provided
        team_list = ['aston-villa-f.c.', 'brentford', 'brighton-&-hove-albion']
    else:
        # Single URL when a specific team is provided
        team_list = [team_ent]


    for tm in team_list:
        #print(tm)
        url = f"{base_url}{tm}/"
        #print("Constructed URL:", url)


        try:
                    #print("responseblock1")
                    # Start a session and fetch the data
                    session = requests.Session()
                    #print(session)
                    session.max_redirects = 50
                    #print("th")
                    response = session.get(url, allow_redirects=True)
                    #print("responseblock")
                    #print(response)
                    response.raise_for_status()  # Raise an error if the request was unsuccessful

                    # Parse the HTML content
                    soup = BeautifulSoup(response.content, 'html.parser')
                    table = soup.find('table')
                    
                    # Extract headers
                    headers = [header.text for header in table.find_all('th')]
                    headers.append('Team')
             

                    # Extract rows
                    #rows = []
                    for row in table.find_all('tr')[1:]:
                        cells = row.find_all('td')
                        cells = [cell.text.strip() for cell in cells]
                        cells.append(tm)
                        rows.append(cells)
              
        except requests.exceptions.RequestException as e:
                print(f"Error fetching data from {url}: {e}")
                dload='F'
    
    
    #Create a DataFrame
    #print(headers)
    #print(rows) 
    df = pd.DataFrame(rows, columns=headers)
    cols = {}
    for col in df.columns:
        cols[col] = col.lower()
    df = df.rename(columns=cols) 

    #drop extra headers
    df = df.dropna(subset=['team']) 
    dload='S'

    return df

In [6]:
df2 = get_sdata('a')
#df2 = get_sdata('brentford')

#get_sdata('brentford')
#df =df[0][0].reset_index(drop=True)
df2

,player name,weekly wage,yearly salary,age,position,nationality,team
0,Youri Tielemans,"£150,000","£7,800,000",26,DM,Belgium,aston-villa-f.c.
1,Lucas Digne,"£130,000","£6,760,000",29,D/WB L,France,aston-villa-f.c.
2,Emiliano Martínez,"£125,000","£6,500,000",30,GK,Argentina,aston-villa-f.c.
3,Pau Torres,"£120,000","£6,240,000",26,D C,Spain,aston-villa-f.c.
4,Ollie Watkins,"£120,000","£6,240,000",27,"AM RL, ST",England,aston-villa-f.c.
...,...,...,...,...,...,...,...
91,Thomas McGill,"£7,600","£395,200",23,GK,Canada,brighton-&-hove-albion
92,Noël Atom,"£5,900","£306,800",18,D C,Germany,brighton-&-hove-albion
93,Benicio Baker-Boaitey,"£3,500","£182,000",19,AM RL,England,brighton-&-hove-albion
94,Jack Hinchy,"£3,100","£161,200",20,DM,England,brighton-&-hove-albion
95,Luca Barrington,"£3,000","£156,000",18,AM RL,England,brighton-&-hove-albion

In [228]:
df2

## Snippets

In [2]:
# standardise columns
#  cols = {}
# for col in df.columns:
#     cols[col] = col.lower()
# df = df.rename(columns=cols) 

# display options


#pd.set_option('display.max_rows', None)

In [73]:
#drop the extra imported header rows
all_data = all_data.dropna(subset=['team'])